#nvss{
position:fixed;
height:500px;
}
#logo{
 height:100%;
}
#h121{
position:fixed;
top:90px;
height:100%;
}
#p1{
 position: relative;
 top:20px;
 width: 200px;
 border-radius: 60%;
 border: 3px solid black;
}

.corr{
 position: relative;
 left: 10px;
 top:20px;}

p { text-indent: 20px; }
.addTI{text-indent: 20px; }

.globTop{
color-text: black;

font-weight: 400;
font-size: 20px;}

.pref{
color:black;
font-size: 18px;}

.upMenu{
top:125px;
left:20%;
}
li{
position: relative;
top:0%
}


